:root {
    /* !-------- Colors -------- */
    --body-bg: #E5E5E5;
    --bg-purple: #9C69E2;
    --bg-pink: #F063B8;
    --bg-def-pink: rgba(240, 99, 184, 0.15);
    --bg-aqua: #68C9BA;
    --bg-blue: #2D9CDB;
    --text-color: #212353;
    --text-def-color: #4B5D68;
    --text-white: #fff;
    /* !-------- Sizes -------*/
    --text-def-size: 16px;
    --home-content-size: 80px;
    --text-bigger-size: 18px;
    --small-content-size: 50px;
    --ex-small-content-size: 24px;
    --text-small-size: 14px;
    --logo-content-size: 20px;
    --text-ex-small-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: _Regular;
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: _Bold;
    src: url('../fonts/Ubuntu-Bold.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: var(--body-bg);
    font-family: _Regular, sans-serif;
    font-size: var(--text-small-size);
    min-height: 100%;
    color: var(--text-def-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

[class*="__container"] {
    max-width: 1240px;
    /* если 0px то без px */
    margin: 0px auto;
    width: 95%;
}

/* !-------- Header ------*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: var(--body-bg);
}

.header__container {
    display: flex;
    min-height: 110px;
    align-items: center;
}

.header__logo--wrapper {
    width: auto;
    height: 50px;
}

.header__menu {
    flex: 0 0 35%;
}

.menu__list {
    justify-content: flex-end;
    display: flex;
}

.menu__item {
    margin-right: 30px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: var(--text-bigger-size);
    line-height: 1.2;
    color: var(--text-def-color);
}

/* media всегда в самом низу */

/* ----- PC --- */
@media (max-width:1239.98px) {
    [class*="__container"] {
        max-width: 992px;
    }

    .block-text__title {
        font-size: 65px;
    }
}

/* ------- Tablet ------ */
@media (max-width:992px) {
    [class*="__container"] {
        max-width: 750px;
    }

    .header__menu {
        flex: 0 0 50%;
    }
}

/* ------ Mobile ------ */
@media (max-width:767.98px) {
    [class*="__container"] {
        max-width: unset;
    }

    .header {
        height: auto;
    }

    .header__container {
        justify-content: space-between;
        min-height: 70px;
    }

    .header__logo--wrapper {
        height: 35px;
    }

    .menu__link {
        font-size: var(--text-small-size);
    }
}

/* ! --------- Save-Data -------- */
.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.save-data {
    padding: 180px 0px 30px 0px;
}

.save-data__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.save-data__content {
    flex: 0 1 48%;
}

.save-data__block--text {
    max-width: 570px;
}

/* -------------------------------------- */
.block-text__title {
    font-family: _Bold, sans-serif;
    font-size: var(--home-content-size);
    color: var(--text-color);
    line-height: 88px;
}

.block-text__title:not(:last-child) {
    margin: 0px 0px 40px 0px;
}

.block-text__text {
    font-size: var(--text-bigger-size);
    line-height: 28.8px;
}

.block-text__text:not(:last-child) {
    margin: 0px 0px 50px 0px;
}

.block-text__btn {
    padding: 18px 35px;
    background-color: var(--bg-purple);
    color: var(--text-white);
    border-radius: 40px;
    font-size: var(--text-bigger-size);
}

/* -------------------------------------- */
.save-data__img {
    flex: 0 1 52%;
    position: relative;

}

.save-data__img--wrapper {
    position: absolute;
    top: -150px;
    right: -12%;
}

.save-data__img--wrapper img {
    max-width: 100%;
}

/* ----- PC --- */
@media (max-width:1239.98px) {
    .block-text__title {
        font-size: 65px;
        line-height: 80px;
    }

    .block-text__title:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }

    .block-text__text {
        font-size: var(--text-def-size);
        line-height: 26px;
    }

    .save-data__img--wrapper {
        right: -25%;
    }
}

/* ------- Tablet ------ */
@media (max-width:992px) {
    .block-text__title {
        font-size: 50px;
        line-height: 60px;
    }

    .block-text__title:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }

    .block-text__text {
        font-size: 15px;
        line-height: 24px;
    }

    .save-data__img--wrapper {
        right: -35%;
    }

    .save-data__img--wrapper {
        top: -98px;
    }

    .block-text__btn {
        padding: 16px 30px;
        font-size: var(--text-def-size);
    }

}

/* ------ Mobile ------ */
/* Значения с плавающей точкой в пикселях могут отображаться по-разному в разных браузерах */
@media (max-width:767.98px) {
    .save-data {
        padding: 110px 0px 30px 0px;
    }

    .save-data__content {
        flex: 0 1 100%;
    }

    .save-data__block--text {
        max-width: 100%;
    }

    .block-text__title {
        font-size: 40px;
        line-height: 45px;
    }

    .block-text__title:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }

    .block-text__text {
        font-size: var(--text-small-size);
        line-height: 20px;
    }

    .block-text__text:not(:last-child) {
        margin: 0px 0px 35px 0px;
    }

    .save-data__img {
        flex: 0 1 100%;
        padding-top: 40px;
    }

    .save-data__img--wrapper {
        position: unset;
    }

    .block-text__btn {
        padding: 14px 25px;
        font-size: var(--text-small-size);
    }
}

/* -------------------------------------------------------- */


/* ! -------- Storage-Bank --------- */
.storage-bank {
    padding: 120px 0px 30px 0;
}

.storage-bank__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--bg-def-pink);
    border-radius: 50px;
}

.storage-bank__img {
    flex: 0 0 42%;
}

.storage-bank__content {
    flex: 0 0 58%;
    display: flex;
    justify-content: center;
}

.storage-bank__block--text {
    max-width: 570px;
}

.storage-bank__block--text .block-text__title {
    font-size: var(--small-content-size);
    line-height: 60px;
}

.storage-bank__block--text .block-text__text {
    font-size: var(--text-bigger-size);
}

/* ----- PC --- */
@media (max-width:1239.98px) {
    .storage-bank__container {
        padding: 10px 30px;
    }

    .storage-bank__block--text {
        max-width: 500px;
    }

    .storage-bank__block--text .block-text__title {
        font-size: 45px;
        line-height: 55px;
    }

    .storage-bank__block--text .block-text__text {
        font-size: var(--text-def-size);
        line-height: 25px;
    }
}

/* ------- Tablet ------ */
@media (max-width:992px) {
    .storage-bank__container {
        padding: 10px 30px;
        /* gap: 5px; */
    }

    .storage-bank__block--text .block-text__title {
        font-size: 35px;
        line-height: 40px;
    }

    .storage-bank__block--text .block-text__text {
        font-size: 14px;
        line-height: 19px;
    }
}


/* ------ Mobile ------ */
@media (max-width:767.98px) {
    .storage-bank {
        padding: 60px 0px 30px 0;
    }

    .storage-bank__container {
        padding: 30px;
    }

    .storage-bank__img {
        flex: 0 0 100%;
        order: 1;
    }

    .storage-bank__content {
        flex: 0 0 100%;
    }

    .storage-bank__block--text {
        max-width: 100%;
    }

    .storage-bank__block--text .block-text__title {
        font-size: 32px;
        line-height: 34px;
    }

    .storage-bank__block--text .block-text__text {
        font-size: 13px;
        line-height: 18px;
    }
}

/* ---------------------------------------------------- */

/* ! ------------ Features --------- */
.features {
    padding: 100px 0px 30px 0px;
}

.features__container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.features__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__block--text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features__block--text .block-text__title {
    font-size: 52px;
}

/* ------ box -------- */
.features__boxes--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.features-box {
    width: 100%;
    height: 100%;
    padding: 60px 35px 35px 35px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
}

.trap {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    border-radius: 50px 50px 50px 0;
    opacity: 0.15;
}

.box__trap--1::before,
.box__trap--1 {
    background-color: var(--bg-blue);
}

.box__trap--2::before,
.box__trap--2 {
    background-color: var(--bg-purple);
}

.box__trap--3::before,
.box__trap--3 {
    background-color: var(--bg-pink);
}

.box__trap--4::before,
.box__trap--4 {
    background-color: var(--bg-blue);
}

.box__trap--1::before,
.box__trap--2::before,
.box__trap--3::before,
.box__trap--4::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    width: 25%;
    height: 100%;
    border-radius: 50px 0 0 50px;
    transform: skewX(-8deg);
}

.box__img {
    max-width: 35%;
    z-index: 10;
}

.box__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    max-width: 45%;
    height: 100%;
}

.box__img--wrapper {
    max-height: 120px;
}

.box__block--text {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.box-text__title {
    font-size: var(--ex-small-content-size);
    color: var(--text-color);
}

.box-text__title:not(:last-child) {
    margin-bottom: 20px;
}

.box-text__text {
    font-size: var(--text-def-size);
    line-height: 24px;
}

.box__block--more {
    display: flex;
    align-items: center;
}

.box-more__text {
    font-size: var(--text-def-size);
    font-family: _Bold, sans-serif;
    color: var(--text-color);
}

.box-more__arrow {
    margin-left: 10px;
    max-width: 100%;
    height: 12px;
}

/* ----- PC --- */
@media (max-width:1239.98px) {
    .features-box {
        justify-content: space-between;
        padding-left: 0;
    }

    .trap {
        width: 75%;
    }

    .box__content {
        max-width: 55%;
    }
}

/* ------- Tablet ------ */
@media (max-width:991.98px) {
    .features__container {
        gap: 80px
    }

    .features__block--text {
        max-width: 60%;
    }

    .features__block--text .block-text__title {
        font-size: 40px;
    }

    .features__block--text .block-text__text {
        font-size: 14px;
    }

    /* --------- box --------- */
    .features-box {
        padding-top: 50px;
    }

    .box__content {
        max-width: 50%;
    }

    .box-text__title {
        font-size: 20px;
    }

    .box-text__title:not(:last-child) {
        margin-bottom: 15px;
    }

    .box-text__text {
        line-height: 20px;
        font-size: 13px;
    }

    .box__img--wrapper {
        width: 140px;
        height: auto;
    }

    .box__block--more {
        align-items: flex-start;
    }

    .box-more__text {
        font-size: 14px;
    }

    .box-more__arrow {
        height: 10px;
    }
}

/* ------ Mobile ------ */
@media (max-width:767.98px) {
    .features__boxes--wrapper {
        grid-template-columns: 1fr;
    }

    .trap {
        width: 80%;
    }

    .box__img--wrapper {
        width: 120px;
    }
}

/* ---------------------------------------------------- */

/* ! --------- Bloggers ---------- */
.bloggers {
    padding: 100px 0 30px 0;
}

.bloggers__container {
    position: relative;
    background-color: var(--bg-purple);
    padding: 50px;
    display: grid;
    gap: 150px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2fr 0.5fr;
    align-items: flex-start;
    border-radius: 50px;
}

.bloggers__block--text .block-text__title {
    color: var(--text-white);
    font-size: var(--small-content-size);
}

.bloggers__group {
    max-width: 100%;
    height: 100%;
}

.bloggers__group--wrapper {
    position: absolute;
    top: 32%;
    transform: translateY(-40%);
    right: -40%;
    transform: translateX(50px);
    width: auto;
    height: 45%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 30px;
}

.group__blogger {
    background-color: #fff;
    max-width: 100%;
    width: auto;
    height: 100%;
    display: flex;
    padding: 50px;
    border-radius: 20px;
}

.group__blogger:first-child {
    box-shadow: 0px 20px 0px rgba(121, 73, 80, 0.234);
}

.group__blogger {
    box-shadow: 0px 20px 0px rgba(121, 73, 80, 0.1);
}

.blogger__img {
    flex: 0 0 22%;
    max-width: 100%;
    height: 100%;
}

.group__blogger .blogger__img.blogger-1 {
    flex: 0 0 12%;
}

.blogger__img--wrapper img {
    width: auto;
    height: 60px;
}

.blogger__content {
    flex: 0 0 80%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.content__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content__header--name {
    margin-bottom: 5px;
    font-size: var(--text-bigger-size);
    font-family: _Bold, sans-serif;
    color: var(--text-color);
}

.content__header--link {
    color: var(--bg-purple);
    font-size: var(--text-small-size);
}

.content__body--text {
    font-size: var(--text-bigger-size);
    line-height: 32px;
}

.content__body--text.blur-text {
    background: linear-gradient(to right, var(--text-def-color) 10%, rgba(255, 255, 255, 0) 90%);
;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bloggers__controls--wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.controls__left--wrapper {
    display: flex;
    align-items: center;
}

.controls__left--wrapper .control {
    width: 7px;
    height: 7px;
    border-radius: 7px;
    margin-right: 5px;
    background-color: var(--text-white);
}

.controls__left--wrapper .control:first-child {
    background-color: var(--bg-pink);
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.controls__right--wrapper {
    display: flex;
}

.controls__arrow--left {
    margin-right: 20px;
}

.controls__arrow--left img,
.controls__arrow--right img {
    width: auto;
}

/* ----- PC --- */
@media (max-width:1239.98px) {
    .bloggers__container {
        /* padding:0px; */
        gap: 200px;
    }

    .bloggers__group--wrapper {
        top: 30%;
        right: -45%;
    }

    .group__blogger .blogger__img {
        flex: 0 0 35%;
    }

    .group__blogger .blogger__img.blogger-1 {
        flex: 0 0 20%;
    }
}

/* Tablet */
@media (max-width:991.98px) {
    .bloggers__container{
        gap: 150px;
    }
    .bloggers__block--text .block-text__title {
        font-size: 45px;
    }

    .bloggers__group--wrapper {
        top: 28%;
        right: -45%;
    }

    .group__blogger {
        padding: 40px;
    }

    .group__blogger .blogger__img {
        flex: 0 0 34%;
        /* background-color: #2D9CDB; */
    }

    .blogger__content {
        flex: 0 0 70%;
    }

    .group__blogger .blogger__img.blogger-1 {
        flex: 0 0 20%;

    }

    .blogger__img--wrapper img {
        height: 55px;
    }

    .controls__arrow--left {
        margin-right: 15px;
    }

    .controls__left--wrapper .control {
        width: 5px;
        height: 5px;
        border-radius: 5px;

    }

    .controls__left--wrapper .control:first-child {
        width: 8px;
        height: 8px;
        border-radius: 8px;
    }

    .content__body--text {
        font-size: 16px;
        line-height: 25px;
    }
}

/* Mobile */
@media (max-width:767.98px) {
    .bloggers__container {
        gap: 150px;
        padding: 30px;
    }

    .bloggers__group--wrapper {
        right: -130%;
        top: 25%;
        transform: translateX(40px);
        grid-template-columns: 1.3fr 1fr 1fr;

    }

    .group__blogger {
        height: 100%;
        padding: 30px;
    }

    .group__blogger .blogger__img.blogger-1 {
        flex: unset;
        margin-right: 25px;
    }

    .group__blogger .blogger__img {
        flex: unset;
        margin-right: 25px;
    }

    .content__header--name {
        font-size: 15px;
    }

    .content__header--link {
        font-size: 10px;
    }

    .blogger__img--wrapper img {
        height: 45px;
    }

    .bloggers__block--text .block-text__title {
        font-size: 30px;
    }

    .content__body--text {
        font-size: 12px;
        line-height: 18px;
    }

    .controls__arrow--left img,
    .controls__arrow--right img {
        width: auto;
        height: 12px;
    }
}
/* ----------------------------------------------------- */

/* ! -------- Footer ---------- */
footer {
    padding: 150px 0px 20px 0px;
    color: var(--text-color);
}

.footer {
    border-top: 5px solid rgba(156, 105, 226, 0.2);
    padding-top: 120px;
    margin-bottom: 70px;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__main--left {
    display: flex;
    flex-direction: column;
}

.footer__logo{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.footer__logo--wrapper {
    width: auto;
    height: 50px;
    margin-right: 30px;
}

.footer__logo span {
    font-weight: 800;
    font-size: 22px;
}

.footer__adress address {
    font-style: normal;
    margin-bottom: 30px;
    font-size: 20px;
}

ul.footer__contacts {
    display: flex;
    flex-direction: column;
}

ul.footer__contacts li a {
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
}

.footer__social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-media__header h3 {
    font-size: 20px;
    line-height: 50px;
}

.social-media__body {
    display: flex;
    margin-left: -30px;
    margin-top: 30px;
}

ul.social-media__body li {
    width: 45px;
    height: 45px;
    margin-left: 30px;
}

.footer__secondary p {
    font-size: 18px;
    line-height: 24px;
}

/* ----- PC --- */
@media (max-width:1239.98px) {
    .footer {
        border-top: 4px solid rgba(156, 105, 226, 0.2);
        padding-top: 150px;
        margin-bottom: 60px;
    }

    .footer__main {
        margin-bottom: 40px;
    }

    .footer__logo {
        margin-bottom: 60px;
    }

    .footer__logo--wrapper {
        height: 40px;
        margin-right: 25px;
    }

    .footer__logo span {
        font-size: 22px;
    }

    .footer__adress address {
        margin-bottom: 25px;
        font-size: 18px;
    }

    ul.footer__contacts li a {
        font-size: 18px;
        line-height: 24px;
    }

    .social-media__header h3 {
        font-size: 20px;
        line-height: 40px;
    }

    .social-media__body {
        margin-left: -25px;
        margin-top: 25px;
    }

    ul.social-media__body li {
        width: 40px;
        height: 40px;
        margin-left: 25px;
    }

    .footer__secondary p {
        font-size: 16px;
        line-height: 22px;
    }
}

/* ------- Tablet ------ */
@media (max-width:992px) {
    .footer {
        border-top: 3px solid rgba(156, 105, 226, 0.2);
        padding-top: 120px;
        margin-bottom: 50px;
    }
    .footer__main {
        margin-bottom: 40px;
    }
    .footer__main--left {
        margin-bottom: 40px;
    }
    .footer__logo{
        margin-bottom: 50px;
    }
    .footer__logo--wrapper {
        height: 40px;
        margin-right: 20px;
    }
    .footer__logo span {
        font-size: 20px;
    }
    .footer__adress address {
        margin-bottom: 20px;
        font-size: 16px;
    }
    ul.footer__contacts li a {
        font-size: 16px;
        line-height: 22px;
    }
    .social-media__header h3 {
        font-size: 18px;
    }
    .social-media__body {
        margin-left: -15px;
        margin-top: 15px;
    }
    ul.social-media__body li {
        width: 35px;
        height: 35px;
        margin-left: 15px;
    }
    .footer__secondary p {
        font-size: 14px;
        line-height: 22px;
    }

}

/* ------ Mobile ------ */
@media (max-width:767.98px) {
    .footer {
        border-top: 2px solid rgba(156, 105, 226, 0.2);
        padding-top: 100px;
        margin-bottom: 40px;
    }
    .footer__main {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .footer__main--left {
        margin-bottom: 40px;
    }
    .footer__logo{
        margin-bottom: 40px;
    }
    .footer__logo--wrapper {
        height: 35px;
        margin-right: 15px;
    }
    .footer__logo span {
        font-size: 18px;
    }
    .footer__adress address {
        margin-bottom: 15px;
        font-size: 14px;
    }
    ul.footer__contacts li a {
        font-size: 14px;
        line-height: 22px;
    }
    .social-media__header h3 {
        font-size: 16px;
    }
    .social-media__body {
        margin-left: -10px;
        margin-top: 10px;
    }
    ul.social-media__body li {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    .footer__secondary p {
        font-size: 12px;
        line-height: 20px;
    }
}
/* ----------------------------------------- */
